body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #A2D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    color: #000000;
  }

  #game-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #45CB85;
    background: url('./img/fondo.png');
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 30px;
    margin: 10px;
  }

  #datos {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
    color: #000000;
  }
  
  #botones {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 20px;
  }

  #botones button {
    background-color: #45CB85;
    height: 100%;
    width: 75px;
    border-radius: 100px;
  }

  #botones i{
    font-size: 70px;
    color: #000000;
  }

  .p {
    font-size: 50px;
    color: #000000;
  }

  .boton {
    background-color: #45CB85;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
  }

  .personaje {
    background: url('./img/luffyPunching.png');
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
  }

  .golpe {
    background: url('./img/Punch.png');
    background-size:cover;
    position: absolute;
    width: 30px;
    height: 80px;
  }
  
  .amigo {
    background: url('./img/amigo.png');
    background-size: cover; 
    position: absolute;
    width: 30px;
    height: 30px;
 
  }

  .enemigo {
    background: url('./img/enemigo.png');
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .mensajeGanar {
    position: absolute;
    top: 25%;
    left: 5%;
    background: url('./img/ganaste.png');
    background-size: cover;
    width: 90%;
    height: 50%;
  }

  .mensajePerder {
    position: absolute;
    top: 25%;
    left: 5%;
    background: url('./img/perdiste.png');
    background-size: cover;
    width: 90%;
    height: 60%;
  }
  
  @media (min-width: 1200px) {

    #game-container {
      width: 1000px;
      height: 400px;
    }

    #botones {
      display: none;
    }

    .mensajeGanar {
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      height: 100%;
    }

    .mensajePerder {
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      height: 100%;
    }

    .amigo {
      width: 50px;
      height: 50px;
   
    }
  
    .enemigo {
      width: 50px;
      height: 50px;
    }
  } 